/*---Wraper---*/
html, body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
}

/*---HEADER---*/
header {
    background-color: #60495A;
    height: 768px;
    width: 100%;
    overflow: auto;
}

header nav {
    background-color:#3C787E;
}

#header_bar {
    background-color: #858585;
    display: flex;
    flex-direction: column;
    height: 85px;
    justify-content: center;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#home {
    position: relative;
    top: 12%;
    /* z-index: 2; */
}

#home .motto {
    height: 70%;
    margin: 0 auto;
    position: relative;
    width: 90%;
}

#home .motto p {
    color: white;
    font-family: "Hannari";
    font-size: 50px;
    font-weight: 60%;
    letter-spacing: 5px;
    text-align: center;
}

nav {
    height: 768px;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 360px;
    z-index: 3;
}

nav .headermenu {
    height: 50px;
    position: relative;
    width: 100%;
}

#nav_icon img{
    float: right;
    height: 40px;
    left: -5%;
    margin: auto;
    position: relative;
    width: 50px;
}

nav img {
    height: 30px;
    left: 10px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
}

nav li {
    color: white;
    font-size: 20px;
    margin: 25px 0;
}

nav ul {
    list-style-type: none;
}

@media only screen and (max-width: 500px){
    nav {
        width: 70%;
    }

    #header_bar {
        height: 50px;
    }

    #nav_icon img{
        width: 40px;
        height: 40px;
    }
}


/*---------------------MAIN--------------------*/
main {
    width: 100%;
}

main > section {
    margin: 70px auto 0px auto;
    width: 80%;
}

/* About */
#about {
    margin-bottom: 150px;
}

.header1 h2 {
    color: white;
    font-family: "Hannari";
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 3px;
}

#about .intro {
    margin: 100px auto;
    width: 60%;
}

#about .intro p {
    color: #60495A;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 170%;
    padding: 20px 0;
}

.bar_labels {
    width: 30%;
}

.bar_labels p {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}

.bar_labels p, .progress_bar {
    height: 20px; 
}

.field_wrapper {
    display: flex;
    flex-direction: row;
    height: 360px;
    margin: 20px auto;
    width: 70%;
}

.header1 {
    align-items: center;
    background-color: #60495A;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    height: 55px;
    justify-content: center;
    width: 170px;
}

.progress_bars {
    width: 60%;
    margin: 0 30px;
}


.progress_bar {
    background-color: #60495A;
    border-radius: 30px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    margin: 20px auto;
    max-width: 350px;
    padding: 10px 15px;
}

.progress_bar span {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 35px;
    border-top-right-radius: 5px;
    background: linear-gradient(180deg, rgb(100, 111, 75) 30%, rgb(87, 102, 56) 60%);
    box-shadow: 
        inset 2px 3px 2px rgba(255, 255, 255, 0.3),
        inset -2px 2px 4px rgba(0, 0, 0, 0.4);
    display: block;
    height: 100%;
    overflow: hidden;
}

#skills .field {
    margin-top: 20px;
}

#skills .field.selected {
    box-shadow: 1px 1px 4px #60495A;
}

#skills .fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 45px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
}

#skills .fields img{
    height: 100px;
    width: 200px;
}

#skills .fields p {
    color: #646F4B;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

#skills h2 {
    color: #60495A;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 200px;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    .progress_bars {
        width: 70%;
    }
    .bar_labels {
        width: 25%;
    }
}

@media only screen and (max-width: 900px) {
    #about .intro {
        margin: 100px auto;
        width: 100%;
    } 

    .field_wrapper {
        margin: 20px auto;
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    #skills .fields {
        width: 100%;
    }
}


/* Works */
#bg_works {
    clip-path:polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    height: 100%;
    width: 100%;
}

#works {
    margin: 0 auto;
    width: 80%;
    padding: 110px 0;
}

.header2 {
    align-items: center;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    height: 55px;
    justify-content: center;
    width: 170px;
}

.header2 h2{
    color: #60495A;
    font-family: "Hannari";
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 3px;
}

#works .categories {
    background-color: #858585;
    /* rgb(241, 227, 243); */
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    outline: none !important;
}

.display_methods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


.work_wrapper {
    /* max-width: 600px; */
    margin: 30px auto;
    width: 80%;
    
}
.work_wrapper .panel {
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.work_wrapper .to_left {
    box-shadow: -1px -1px 4px #2A2027;
}

.work_wrapper .to_right {
    box-shadow: 1px -1px 4px #2A2027;
}

.work_wrapper .frame{
    width: 180px;
    height: 180px;
    flex-shrink: 0; 
}

.work_wrapper .frame .img {
    /* background-image: url("./images/works/my_portfolio2.png"); */
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 2px grey;
}

.work_wrapper .layer {
    background-color: rgb(241, 227, 243);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: thin solid rgb(241, 227, 243);
}

.work_wrapper p {
    color: white;
    letter-spacing: 3px;
    line-height: 170%;
}

.work_wrapper .to_left p {
    margin-left: 50px;
}

.work_wrapper .to_right p {
    margin-right: 50px;
}

@media only screen and (max-width: 900px) {
    .work_wrapper {
        width: 100%;
    }
    .work_wrapper .to_left {
        flex-direction: column;
    }
    
    .work_wrapper .to_right {
        flex-direction: column-reverse;
    }

    .work_wrapper .to_left p {
        margin-left: 0px;
    }
    
    .work_wrapper .to_right p {
        margin-right: 0px;
    }


}



/* BLOGS */

.blogs {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 auto;
    margin: 100px auto;
    color: #60495A
}

.blog {
    width: 260px;
    height: 250px;
    background-color: rgba(208, 255, 206, 1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex-shrink: 0;
    padding: 5px 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 25px;
}

.blog .title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto 0 auto;
    width: 95%;
}

.blog .caption {
    width: 90%;
    margin: 15px auto;
    font-size: 15px;
    overflow: hidden;
    height: 150px;
}

#blogs .display_bar {
    float: right;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

#blogs .search_bar {
    display: flex; 
    flex-direction: row;
    position: relative;
    width: 240px;
    height: 36px;
    border: 2px solid rgb(241, 227, 243);
    border-right-width: 0;
    border-radius: 2px;
    justify-content: flex-end;
    align-items: center;
}

#blogs .search_bar, #blogs select {
    margin-left: 10px;
    margin-right: 10px;
    color: #60495A;


}

#blogs .categories, #blogs .sorting {
    width: 100px;
    border-radius: 2px;
    flex-shrink: 0;
    height: 40px;
    border: 2px solid rgb(241, 227, 243);
    outline: none !important;
}

#blogs .search_bar input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 197px;
    height: 36px;
    border: none;
    flex-shrink: 0;
    padding: 1px 2px;
    color: #60495A;
}

#blogs input:focus {
    border: 2px solid #60495A !important;
    outline: none !important; 
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#blogs button:focus {
    outline: none !important;
    border-style: none;
}

#blogs .search_bg:hover {
    background-color: rgb(223, 214, 224);
}
#blogs .search_bar button {
    background-image: url("./images/search_icon.gif");
    background-color: wheat;
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    float: right;
    width: 40px;
    height: 40px;
    /* border: none; */
    flex-shrink: 0;
    padding: 0 0;
    border-style: none;
}


#blogs .search_bg {
    background-color: rgb(241, 227, 243);
}

#blogs option {
    outline: none !important;
    color: #60495A;
    border-color: rgb(223, 214, 224) !important;
}

@media only screen and (max-width: 660px) {
    #blogs .display_bar {
        float: none;
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }

    #blogs .search_bar{
        margin-left:auto;
        margin-right: auto;
    }
    #blogs .filter {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

/* CONTACT */
#bg_contact {
    clip-path:polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    height: 100%;
    width: 100%;
}

#contact {
    margin: 0 auto;
    width: 80%;
    height: 700px;
    padding: 110px 0;
}

#contact .header2 h2{
    font-size: 23px;
}

.form_wrapper {
    width: 408px;
    margin: 50px auto;
}

#contact input, #contact select, #contact textarea {
    display: block;
    border-radius: 4px;
    color: black;
    margin-top: 3px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
}

#contact input, #contact select {
    height: 35px;
    margin-bottom: 15px;
}

#contact input {
    width: 400px;
    font-size: 15px;
}

.form_wrapper textarea {
    width: 400px;
    height: 300px;
    overflow-y: auto;
    resize: none;
    font-size: 17px;
    margin-bottom: 10px;
}

#contact select {
    width: 400px;
    padding: 0 2px;
    color: #60495A;
    font-weight: bold;
}
#contact label {
    color: white;
}

#contact button {
    float: right;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255, 0.8);
    background-image: linear-gradient(30deg,#8a7384 5%, #60495A 50%);
    color: white;
    outline: none !important;
}

@media only screen and (max-width: 570px){
    .form_wrapper {
        width: 100%;
    }

    #contact input, #contact select, #contact textarea {
        width: 95%;
    }
   
}
/*---FOOTER---*/
footer {
    background-color: rgb(241, 227, 243);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer p {
    font-size: 20px;
    text-align: center;
    color: #60495A;
}
.hidden {
    display: none;
}
